@using System.Text

@using Dropbox.Api
@using Dropbox.Api.Files

@using Microsoft.Extensions.Configuration

@inject HttpClient Http
@inject IConfiguration Configuration

<div class="container-sm" style="max-width: 540px;">
  <h1>Blazor Lead Capture</h1>
  <form class="clearfix" @onsubmit="OnFormSubmittedAsync">
    <fieldset>
      <div>
        <label for="firstName" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Justin" value="@firstName" @onchange="@(e => OnFieldChanged(e, "firstName"))" />
      </div>
      <div>
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Yoo" value="@lastName" @onchange="@(e => OnFieldChanged(e, "lastName"))" />
      </div>
    </fieldset>

    <fieldset>
      <div>
        <label htmlFor="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="bar@email.com" value="@email" @onchange="@(e => OnFieldChanged(e, "email"))" />
      </div>
      <div>
        <label htmlFor="phone" class="form-label">Phone</label>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="555-555-555" value="@phone" @onchange="@(e => OnFieldChanged(e, "phone"))" />
      </div>
    </fieldset>

    <fieldset>
      <button type="submit" class="btn btn-@buttonColour" disabled="@(submitting || string.IsNullOrWhiteSpace(firstName) || string.IsNullOrWhiteSpace(lastName) || string.IsNullOrWhiteSpace(email) || string.IsNullOrWhiteSpace(phone))">
        <span>Submit</span>
        <span class="spinner-border spinner-border-sm" style="display:@displaySpinner;" role="status" aria-hidden="true"></span>
      </button>
    </fieldset>
  </form>

  <div class="alert alert-@alertResult" style="display:@displayResult;">
    <h2>@messageResult</h2>
    <button type="reset" class="btn btn-dark" @onclick="ResetFields">
      <span>Start Over?</span>
    </button>
  </div>
</div>

@code {
    private string? firstName;
    private string? lastName;
    private string? email;
    private string? phone;

    private string? buttonColour;
    private bool submitting;
    private string? displaySpinner;

    private string? alertResult;
    private string? displayResult;
    private string? messageResult;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        buttonColour = "outline-primary";
        displaySpinner = "none";
        displayResult = "none";

        await Task.CompletedTask;
    }

    /// <summary>
    /// Invoked when any field value on the form changes.
    /// </summary>
    /// <param name="e"><see cref="ChangeEventArgs"/> instance.</param>
    /// <param name="fieldName">The field name that the change has occurred.</param>
    protected void OnFieldChanged(ChangeEventArgs e, string fieldName)
    {
        if (submitting)
        {
            return;
        }

        switch (fieldName)
        {
            case "firstName":
                firstName = e.Value.ToString();
                break;
            case "lastName":
                lastName = e.Value.ToString();
                break;
            case "email":
                email = e.Value.ToString();
                break;
            case "phone":
                phone = e.Value.ToString();
                break;
        }

        if (!submitting &&
            !string.IsNullOrWhiteSpace(firstName) &&
            !string.IsNullOrWhiteSpace(lastName) &&
            !string.IsNullOrWhiteSpace(email) &&
            !string.IsNullOrWhiteSpace(phone))
        {
            buttonColour = "primary";

            return;
        }

        buttonColour = "outline-primary";
    }

    /// <summary>
    /// Invoked when submitting the form.
    /// </summary>
    /// <param name="e"><see cref="EventArgs"/> instance.</param>
    protected async Task OnFormSubmittedAsync(EventArgs e)
    {
        buttonColour = "outline-primary";
        submitting = true;
        displaySpinner = "inline-block";

        await SaveToDropboxAsync().ConfigureAwait(false);
    }

    /// <summary>
    /// Invoked when the reset button clicks.
    /// </summary>
    /// <param name="e"><see cref="MouseEventArgs"/> instance.</param>
    protected void ResetFields(MouseEventArgs e)
    {
        firstName = null;
        lastName = null;
        email = null;
        phone = null;

        buttonColour = "outline-primary";
        submitting = false;
        displaySpinner = "none";

        messageResult = null;
        displayResult = "none";
    }

    private async Task SaveToDropboxAsync()
    {
        // Gets the APIM endpoint from appsettings.json
        var requestUrl = Configuration.GetValue<string>("APIM_Endpoint");
        
        // Gets the auth token from APIM
        var token = await Http.GetStringAsync(requestUrl).ConfigureAwait(false);

        // Builds contents.
        var path = $"/submissions/{DateTimeOffset.UtcNow.ToString("yyyyMMddHHmmss")}.csv";
        var contents = $"{firstName},{lastName},{email},{phone}";
        var bytes = UTF8Encoding.UTF8.GetBytes(contents);

        // Uploads the contents.
        var result = default(FileMetadata);
        using(var dropbox = new DropboxClient(token))
        using(var stream = new MemoryStream(bytes))
        {
            result = await dropbox.Files.UploadAsync(path, WriteMode.Overwrite.Instance, body: stream).ConfigureAwait(false);
        }

        // Shows the result message box.
        if (string.IsNullOrWhiteSpace(result.ContentHash))
        {
            buttonColour = "outline-primary";
            submitting = true;
            displaySpinner = "none";

            alertResult = "danger";
            messageResult = "Failed to save to Dropbox";
            displayResult = "block";

            return;
        }

        buttonColour = "outline-primary";
        submitting = true;
        displaySpinner = "none";

        alertResult = "success";
        messageResult = "Details have been saved";
        displayResult = "block";
    }
}